<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1><i class="fas fa-globe"></i> Panel de Control</h1>
        <p>Bienvenido, <strong style="color: var(--color-royal-blue);"><%= username %></strong>!</p>
        <p>Has iniciado sesión con éxito y tu autenticación de 2 factores ha sido verificada.</p>
        <p>¡Tu aplicación está segura!</p>
        <a href="/logout" class="button-link"><button><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button></a>
    </div>
</body>
</html>